.add-res-button {
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a8db19;
  cursor: pointer;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 2.5s ease;
  padding: 1rem;
}

.item-details:hover {
  border: solid 2px #e2dddd;
  border-radius: 2rem;
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}

.price-per-night {
  background-color: lightgray;
  padding: 10px;
  width: 100%;
}

.rate {
  text-align: center;
}

.image {
  width: 40vw;
  height: 70vh;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.price-section {
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}

.link-btn {
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(151 191 17);
  color: #fff;
}

.link-btn:hover {
  background-color: #fff;
  border: rgb(151 191 17) solid 1px;
  color: #000;
}

/* start of Mobile styles */
@media only screen and (max-width: 600px) {
  #previous,
  #next {
    padding: 10px;
    border-radius: 50px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .image {
    width: 90vw;
    height: auto;
  }

  .title {
    font-size: 1.5em;
  }
}

/* start of Desktop styles */
@media only screen and (min-width: 601px) {
  .main {
    flex-direction: row;
    width: 80vw;
  }

  .image {
    width: 40vw;
    height: 70vh;
  }

  .title {
    font-size: 2em;
  }
}
