.mail-border {
  border: #b6b9bd 2px solid;
}

.sign-up {
  border: rgb(155, 155, 163) 2px solid;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.sign-up:hover {
  background-color: rgb(168, 219, 25);
  color: #fff;
  border: none;
}
